.card {
    background-color: rgb(240, 240, 240);
    color: rgb(255, 58, 58);
    min-height: 180px;
    width: 90%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
    border-style: none;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: red;
    border-radius: 7px;
    box-shadow: 1px 1px 7px rgb(105, 105, 105);
}

.card a:hover {
    color: rgb(0, 0, 0);
}

.card h3 {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 600;
}

.card p {
    font-family: 'Roboto';
    font-size: 16px;
    color: rgb(66, 66, 66);
    text-shadow: none;
}

.card-content {
    padding: 10px 10px 0px 20px;
    width: 80%;
}

.card-icon {
    width: 20%;
    padding: 20px;
}

.card-icon img {
    width: 100%;
}