.card {
    background-color: rgba(255, 255, 255, 0.158);
    color: rgb(255, 58, 58);
    text-shadow: 0px 0px 3px rgb(206, 206, 206);
    min-height: 180px;
    width: 90%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
    border: none;
}

.card:hover {
    color: rgb(163, 0, 0);
}

.card h3 {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 600;
}

.card p {
    font-family: 'Roboto';
    font-size: 16px;
    padding: 0px 10px 0px 10px;
    color: rgb(66, 66, 66);
    text-shadow: none;
}

.card-content {
    width: 80%;
}

.card-icon {
    width: 20%;
    border-radius: 10px;
    padding: 20px;
}

.card-icon img {
    width: 100%;
}