

.header {
	font-family: 'Ubuntu';
	text-align: left;
	background-image: url("../img/pattern.png");
	display: flex;
	font-size: 20px;
    box-shadow: 0px 0px 15px rgb(155, 155, 155);
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	position: relative;
}

.logo img {
	width: 180px;
	float: left;
	padding: 10px;
}

.navbar {
	position: relative;
	float: right;
}

.navbar ul {
	list-style-type: none;
	margin-top: 30;
	padding: 0;
}

.navbar li {
	float: left;
	border-radius: 5px;
}
.navbar li a {
	font-size: 18px;
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
	transition: 0.4s;
}

.navbar .active a {
	margin-left: 5px;
	margin-right: 5px;
	color: rgb(255, 255, 255);
	border-radius: 5px;
	background-color: rgb(233, 76, 76);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar a:hover{
	color: rgb(255, 255, 255);
	border-radius: 5px;
	background-color: rgb(224, 26, 26);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropcontent {
	float: left;
	position: absolute;	
	display: none;
	min-width: 150px;
	margin-top: 20;
	padding: 0;
	z-index: 1;	
}

.dropcontent li {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 4px;
    margin-right: 4px;
}

.dropcontent li {
	margin-right: 6px;
}

.dropcontent li a {
	font-size: 18px;
	float: left;
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	color: rgb(0, 0, 0);
	text-align: left;
	padding: 10px 10px;
	text-decoration: none;
}

.dropdown:hover {
	display: block;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
}

.dropdown:hover .dropcontent {
	display: block;
}

/* KEYFRAMES */

@keyframes slidedown {
	0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

@-moz-keyframes slidedown {
	0% {
	  	opacity: 0;
	  	transform: translateY(-0px);
	}
	100% {
	  	opacity: 1;
	  	transform: translateY(0);
	}
}

@-webkit-keyframes slidedown {
	0% {
	  	opacity: 0;
	  	transform: translateY(-0px);
	}
	100% {
	  	opacity: 1;
	  	transform: translateY(0);
	}
  }

@-o-keyframes slidedown {
	0% {
	  	opacity: 0;
	  	transform: translateY(-0px);
	}
	100% {
	  	opacity: 1;
	  	transform: translateY(0);
	}
}

.dropcontent .dropdown_item-1 {
	transform-origin: top center;
	animation: slidedown 200ms ease-in-out backwards;
	animation-delay: 60ms;
}

.dropcontent .dropdown_item-2 {
	transform-origin: top center;
	animation: slidedown 200ms ease-in-out backwards;
	animation-delay: 120ms;
}

.dropcontent .dropdown_item-3 {
	transform-origin: top center;
	animation: slidedown 200ms ease-in-out backwards;
	animation-delay: 180ms;
}

.dropcontent .dropdown_item-4 {
	transform-origin: top center;
	animation: slidedown 200ms ease-in-out backwards;
	animation-delay: 240ms;
}