

.container-main {
    margin-bottom: 20px;
    margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
    min-height: 600px;
	width: 75%;
	position: relative;
}

.text {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px 0px 40px;
}

.paragrafo {
    color: rgb(73, 73, 73);
    padding-bottom: 20px;
    text-shadow: none;
    font-size: 20px;
    font-family: 'Merriweather';
}

.paragrafo a {
	text-decoration: none;
    color: rgb(236, 56, 56);
    transition: 0.2s;
}

.paragrafo a:hover {
    color: rgb(179, 7, 7);
}

.split {
    display: inline-block;
    margin: 10px;
    padding-bottom: 20px;
    vertical-align: top;
    width: 46%;
}

.split-text {
    padding: 0px 10px 0px 10px;
    display: block;
    font-size: 19px;
    font-family: 'Merriweather';
    color: rgb(59, 59, 59);
    position: relative;
}

.split-text a {
	text-decoration: none;
    color: rgb(236, 56, 56);
    transition: 0.2s;
}

.split-text a:hover {
    color: rgb(179, 7, 7);
}

.title0 {
    padding: 10px;
    display: block;
    font-size: 30px;
    color: rgb(255, 58, 58);
    text-align: left;
    font-weight: bold;
}

.title1 {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 40px;
    color: rgb(51, 51, 51);
    text-align: left;
    font-weight: bold;
}

.avisos {
    width: 100%;
}

.pic {
    display: inline-block;
    width: 33%;
    margin: 35px;
    margin-left: 80px;
    padding: 10px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px black;
    transform: rotate(-8deg);
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: rgb(255, 61, 61);
    box-shadow: 5px 5px 10px black;
    border-radius: 2px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
}

.tutorial {
    font-size: 25px;
    margin-bottom: 10px;
    padding: 15px;
}

.subDetails {
    font-size: 18px;
    margin: 20px;
    padding-left: 20px;
}

.tutorialVideo{
    margin-left: auto;
    margin-right: auto;
}