

.container-main {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: auto;
	margin-left: auto;
    min-height: 600px;
	width: 75%;
	position: relative;
}

.text {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px 0px 40px;
}

.paragrafo {
    color: rgb(73, 73, 73);
    padding-bottom: 20px;
    text-shadow: none;
    font-size: 22px;
    font-family: 'Merriweather';
}

.paragrafo a {
	text-decoration: none;
    color: rgb(236, 56, 56);
    transition: 0.2s;
}

.paragrafo a:hover {
    color: rgb(179, 7, 7);
}

.split {
    display: inline-block;
    margin: 20px;
    padding-bottom: 20px;
    vertical-align: top;
    width: 45%;
}

.split-text {
    padding: 0px 30px 0px 30px;
    display: block;
    font-size: 19px;
    font-family: 'Merriweather';
    color: rgb(59, 59, 59);
    position: relative;
}

.split-text a {
	text-decoration: none;
    color: rgb(236, 56, 56);
    transition: 0.2s;
}

.split-text a:hover {
    color: rgb(179, 7, 7);
}

.title0 {
    padding: 10px 0px 10px 30px;
    display: block;
    font-size: 30px;
    text-shadow: 1.6px 1.6px 0.5px black;
    color: rgb(236, 56, 56);
    text-align: left;
    font-weight: 500;
}

.title1 {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 45px;
    color: rgb(51, 51, 51);
    text-align: left;
    font-weight: bold;
}

.avisos {
    display: inline-block;
    padding: 8px;
    background-color: rgb(236, 56, 56);
}

.pic {
    display: inline-block;
    width: 33%;
    margin: 30px;
    margin-left: 80px;
    padding: 10px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px black;
    transform: rotate(-10deg);
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}  
.collapsible:hover {
    background-color: rgb(236, 56, 56);
}


iframe {
    padding: 10px;
    box-shadow: 5px 5px 10px black;
}