

.container-main {
    margin-bottom: 20px;
    margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
    min-height: 600px;
	width: 75%;
	position: relative;
}

.text {
    width: 80%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px 0px 40px;
}

.paragrafo {
    color: rgb(85, 85, 85);
    padding-bottom: 20px;
    text-shadow: none;
    font-size: 18px;
    font-family: 'Merriweather';
}

.paragrafo a {
	text-decoration: none;
    color: rgb(236, 56, 56);
    transition: 0.2s;
}

.paragrafo a:hover {
    color: rgb(179, 7, 7);
}

.split {
    display: inline-block;
    margin: 0px;
    margin-bottom: 50px;
    vertical-align: top;
    width: 49%;
}

.split-text {
    padding: 0px 10px 0px 10px;
    display: block;
    font-size: 17.5px;
    font-family: 'Merriweather';
    color: rgb(85, 85, 85);
    position: relative;
}

.split-text a {
	text-decoration: none;
    color: rgb(236, 56, 56);
    transition: 0.2s;
}

.split-text a:hover {
    color: rgb(179, 7, 7);
}

.title0 {
    padding: 10px;
    display: block;
    font-size: 30px;
    color: rgb(255, 58, 58);
    text-align: left;
    font-weight: bold;
}

.title1 {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 35px;
    color: rgb(70, 70, 70);
    text-align: left;
    font-weight: bold;
}

.avisos {
    width: 100%;
}

.pic {
    display: inline-block;
    width: 35%;
    margin: 40px 50px 50px 40px;
}

.pic img {
    width: 100%;
    background-color: rgb(255, 255, 255);
    transform: rotate(3deg);
    padding: 10px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 5px black;
}

.collapsible {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: rgb(255, 61, 61);
    box-shadow: 5px 5px 10px black;
    border-radius: 2px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
}

.listagem {
    padding-left: 0;
}

.tutorial {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(224, 26, 26, 0);
    font-size: 27px;
    font-weight: bold;
    list-style-type: none;
    padding: 10px 20px 10px 20px;
    transition: 200ms;
    border-radius: 5px;
    text-align: center;
}

.tutorial:hover {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(224, 26, 26);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.836);
}

.listagem a {
    text-decoration: none;
}
.subDetails {
    font-size: 18px;
    margin: 20px;
    padding-left: 20px;
}

.tutorialVideo{
    margin-left: auto;
    margin-right: auto;
}

.form-div {
    width: 40%;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(73, 73, 73);
    padding-bottom: 20px;
    text-shadow: none;
    font-size: px;
    font-family: 'Merriweather';
  }

.form-div input,
.form-div textarea {
    width: 100%;
    padding: 7px;
    font-size: 18px;
    margin-top: 5px;
    color: rgb(73, 73, 73);
    text-shadow: none;
    font-size: 18px;

	transition: 0.4s;    
}

.form-div input:focus,
.form-div textarea:focus {
    width: 100%;
    padding: 17px;
    font-size: 18px;
    margin-top: 5px;
    color: rgb(73, 73, 73);
    text-shadow: none;
    font-size: 18px;
}

.form-submit {
    border: none;
    font-size: 18px;
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 4px 14px;
	text-decoration: none;
	transition: 0.1s;    
	color: rgb(255, 255, 255);
	border-radius: 5px;
	background-color: rgb(233, 76, 76);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.form-submit:hover{
	font-size: 18px;
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 4px 14px;
	text-decoration: none;
	transition: 0.4s;
    color: rgb(255, 255, 255);
	border-radius: 5px;
	background-color: rgb(224, 26, 26);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}