.pilar {
    background-color: rgb(240, 240, 240);
    padding: 0px 10px 10px 10px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
	width: 90%;
    color: rgb(255, 50, 50);
    display: block;
    text-align: left;
    transition: 0.2s;
    border-style: none;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: rgb(255, 50, 50);
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgb(63, 63, 63);
}

.pilar:hover {
    background-color: rgb(230, 230, 230);
    text-decoration: none;
    color: rgb(255, 50, 50);
    box-shadow: 1px 1px 7px rgb(56, 56, 56);
}

.title-triade {
    font-size: 35px;
    padding: 10px 0px 0px 10px;
    display: block;
    font-weight: bold;
    font-family: roboto;
}

.paragrafo-triade {
    padding: 10px;
    font-size: 16px;
    font-family: roboto;
    color: rgb(48, 48, 48);
}