.pilar {
    background-color: rgb(233, 233, 233);
    padding: 10px;
    margin-bottom: 20px;
    margin-right: auto;
	margin-left: auto;
	width: 100%;
    color: rgb(255, 50, 50);
    display: block;
    text-align: left;
    transition: 0.2s;
    border-style: none;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: red;
    border-radius: 7px;
}

.pilar:hover {
    background-color: rgb(211, 211, 211);
    text-decoration: none;
    color: rgb(255, 50, 50);
    box-shadow: 3px 3px 7px rgb(56, 56, 56);
}

.title-triade {
    font-size: 35px;
    padding-left: 10px;
    display: block;
    font-weight: bold;
    font-family: roboto;
}

.paragrafo-triade {
    padding: 10px;
    font-size: 20px;
    font-family: roboto;
    color: rgb(48, 48, 48);
}