

.title-triade {
    font-size: 40px;
    padding: 0px;
    display: block;
    font-weight: bold;
    font-family: roboto;
}

.paragrafo-triade {
    font-size: 22px;
    font-family: roboto;
    color: rgb(75, 75, 75);
}

.pilar {
    padding: 10px;
    margin-bottom: 20px;
    margin-right: auto;
	margin-left: auto;
	width: 100%;
    color: rgb(255, 50, 50);
    display: block;
    text-align: left;
    transition: 0.2s;
    text-decoration: none;
}

.pilar:hover {
    text-decoration: none;
    text-shadow: 1px 1px 3px rgb(214, 214, 214);
    color: rgb(156, 13, 13);
}
